# <span style="color:yellow;">Pandas</span>

In [1]:
import pandas as pd

In [5]:
# Read dataframe
df_pokemon = (
    pd.read_csv(
        filepath_or_buffer = "data/pokemon.csv",
        dtype = {
            "Type 1": "category",      # Define column's dtype
            "Type 2": "category",
            "Generation": "category",
            "Legendary": "bool"
        }
    )
    .drop(columns = ["#"])
    .pipe(lambda df: df.set_axis(df.columns.str.strip().str.replace(r"\s+", "_", regex = True).str.replace(".", ""), axis=1)) # Clean column names
    .assign(Generation = lambda df: df['Generation'].cat.as_ordered())
)

In [6]:
df_pokemon.head(5)

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
# Type_1 equal to 'Fire' AND Generation equal to '1'
df_pokemon[(df_pokemon['Type_1'] == 'Fire') & (df_pokemon['Generation'] == '1')]

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
84,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
135,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
147,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
158,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True

In [8]:
# HP less than 50 OR HP greater than 100
df_pokemon[(df_pokemon['HP'] < 30) | (df_pokemon['HP'] > 100)]

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
44,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False
45,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,1,False
55,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
68,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
88,Magnemite,Electric,Steel,325,25,35,70,95,55,45,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
753,Aromatisse,Fairy,NaN,462,101,72,72,99,89,29,6,False
769,Aurorus,Rock,Ice,521,123,77,72,99,92,58,6,False
792,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [10]:
# (Type_1 equal to 'Fire' OR Type_1 equal to 'Water') AND Generation > to '4'
df_pokemon[((df_pokemon['Type_1'] == 'Fire') | (df_pokemon['Type_1'] == 'Water')) & (df_pokemon['Generation'] > '4')].head(5)

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
557,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
559,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
560,Oshawott,Water,NaN,308,55,55,45,63,45,45,5,False
561,Dewott,Water,NaN,413,75,75,60,83,60,60,5,False

# <span style="color:yellow;">DataR</span>

In [11]:
import datar.all as dr
from datar import f
import pandas as pd

from pipda import register_verb
dr.filter = register_verb(func = dr.filter_)

# Suppress all warnings
import warnings
warnings.filterwarnings("ignore")

In [13]:
tb_pokemon = dr.tibble(
    pd.read_csv("data/pokemon.csv")
    >> dr.rename_with(lambda col: col.strip().replace(" ", "_").replace(".", "")) # Clean column names
    >> dr.select(~f["#"]) # Drop the "#" column
    >> dr.mutate(
        Type_1 = f.Type_1.astype("category"),      # convert to category (pandas style)
        Type_2 = dr.as_factor(f.Type_2),           # convert to category (datar style)
        Generation = dr.as_ordered(f.Generation),  # convert to ordered category (datar style)
        Legendary = dr.as_logical(f.Legendary)     # convert to boolean (datar style)
    )
)

In [14]:
(
    tb_pokemon
    >> dr.slice_head(n=5)
)

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
,<object>,<category>,<category>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<category>,<bool>
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [15]:
# Type_1 equal to 'Fire' AND Generation equal to '1'
(
    tb_pokemon
    >> dr.filter((f.Type_1 == 'Fire') & (f.Attack > 100)) # Filter conditions
    >> dr.select(f.Name, f.Type_1, f.Attack) # Select columns to display
    >> dr.slice_head(n=5)
)

                          Name     Type_1  Attack
                      <object> <category> <int64>
7    CharizardMega Charizard X       Fire     130
8    CharizardMega Charizard Y       Fire     104
64                    Arcanine       Fire     110
147                    Flareon       Fire     130
263                      Entei       Fire     115

In [19]:
# HP less than 50 OR HP greater than 100
(
    tb_pokemon
    >> dr.filter((f.HP < 30) | (f.HP > 100)) # Filter conditions
    >> dr.select(f.Name, f.Type_1, f.Type_2, f.HP, f.Generation, f.Legendary) # Select columns to display
    >> dr.slice_tail(5)
)

                 Name     Type_1     Type_2      HP Generation  Legendary
             <object> <category> <category> <int64> <category>     <bool>
753        Aromatisse      Fairy        NaN     101          6      False
769           Aurorus       Rock        Ice     123          6      False
792           Xerneas      Fairy        NaN     126          6       True
793           Yveltal       Dark     Flying     126          6       True
794  Zygarde50% Forme     Dragon     Ground     108          6       True

In [23]:
# (Type_1 equal to 'Fire' OR Type_1 equal to 'Water') AND Generation > to '4'
(
    tb_pokemon
    >> dr.filter(
        ((f.Type_1 == 'Fire') | (f.Type_1 == 'Water')) & (f.Generation > 4)
    )
    >> dr.select(f.Name, f.Type_1, f.Attack, f.Generation)
    >> dr.slice_tail(5)
)

          Name     Type_1  Attack Generation
      <object> <category> <int64> <category>
735     Litleo       Fire      50          6
736     Pyroar       Fire      68          6
762  Clauncher      Water      53          6
763  Clawitzer      Water      73          6
799  Volcanion       Fire     110          6